@page
@model MIST353F24FrontEnd.Pages.TacoModel
@{
}

<h1> Taco </h1>
<img src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvam9iNjc4LTAyNC1wLWwxNjRwc216LnBuZw.png" alt="A taco" id="tacopic" />

<h2 style="color:#002855;background-color:#EAAA00;font-family:'Times New Roman';text-align:center; font-size:72px"> 
    Stores near you 
</h2>


<a href="https://www.tacobell.com/" class="wvuclass"><h3> Taco Bell </h3></a>
<!-- Comment goes here -->

<button onclick="hidethetaco()">Hide the taco</button>

<a>Taco Bell</a>

<h2> History of Tacos </h2>
<div> class="wvuclass"
<strong><em>this is the taco page.</em></strong>
<p>This is a</p>
<p>New paragraph.</p>

<h2>Reasons I love tacos</h2>


<ol>
    <li>They are<span>yummy</span></li>
    <li>They are cheap</li>
    <li>They are spicy</li>
</ol>
</div>

<script>
    function hidethetaco() { 
        document.getElementBYId("tacopic").style.display = "none"
    }

</script>